.header {
    font-family: karma, sans-serif;
    &1 {
        display: flex;
        flex-direction: column;

        &__logo {
            font-size: 4rem;
        }

        &__motto {
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 750;
        }
    }

    &2 {
        text-align: center;
        font-size: 2.7rem;
        margin-top: 5rem;
    }
}
